.arriba{
    background-color: #87C187;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2387C187'/%3E%3Cstop offset='1' stop-color='%237FA9A3'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23C6CDA5' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23C6CDA5' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23C6CDA5' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23C6CDA5' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.fondos{
    color: white;
}

.ingresos{
    background-color: rgb(44, 44, 44);
    color: white !important;
}

.egreso{
    background-color: white;
    color: black;
    
}

 .porciento{
    background-color: rgb(44, 44, 44);
    color: white !important;
    
    
 }

 .historial{
    background-color: white;
    color: black;
    text-align: center;
    
 }
 




